// Flexbox and % widths (on cards) is determining the size and positioning of the cards, as well as the number of cards in a row  
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    height: auto;
    perspective: 1000px;
    position: relative;
    .card { //The cards styling
        transition: .3s;    
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform-style: preserve-3d;
        position: relative;
        min-width: 18%;
        width: 18%;
        height: 90px;
        margin: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
        background: url('../img/scanline-pattern.png'), url('../img/dark-grunge-texture@2x.png'), -webkit-linear-gradient($color-secondary-tint, $color-dark);
        background: url('../img/scanline-pattern.png'), url('../img/dark-grunge-texture@2x.png'), -o-linear-gradient($color-secondary-tint, $color-dark);
        background: url('../img/scanline-pattern.png'), url('../img/dark-grunge-texture@2x.png'), linear-gradient($color-secondary-tint, $color-dark); 
        background-size: 1px 3px, 668px 628px;
        background-color: $color-primary;
        border: 3px solid white;
        border-radius: .1em;
        color: white;
        cursor: pointer;
        &:not(.selected-card):hover {
            opacity: .9;
            box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
        }
    }
    // Slightly bigger cards on small
    @include mf-small {
        .card { 
            min-width: 22%;
            width: 22%;
            height: 110px;
        }
    }
    // Slightly bigger cards with greater margin and shadow on medium
    @include mf-medium {
        max-width: 660px;
        .card { 
            min-width: 20%;
            width: 20%;
            height: 180px;
            margin: 10px;
            &:not(.selected-card):hover {
                box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.4);
            }
        }     
    } 
}

// Giving the cards font-sizes and positioning 
.front, .back {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size: 2em;
    
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    @include mf-small {
        margin-top: 22px;
        font-size: 2.5em;
    }
    @include mf-medium {
        margin-top: 45px;
        font-size: 3.5em;
    }
}
.front { // Initial state of the cards is with the front visible = no ratation + top layer (z-index)
	z-index: 2;
	transform: rotateY(0deg);
}
.back { // Backside is hidden = rotated a half turn 
	transform: rotateY(-180deg);
}

.selected-card { // This class is used as a hooker (baaah I mean hook) for the javaScript to grab, as well as to give the selected card a speed, shadow and no pointerevents 
    transition: .6s !important;   
    pointer-events: none;
    z-index: 1000; // Top layer to avoid ovely unnatural movement when removing this class 
    &.card {
        box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2);
    }
}
.turnScaleUp-card { // Transforms the card to scale up and turn to reveal backside and hide front
    transform: scale(2) translateZ(0) translateY(0) rotateY(-180deg);
    box-shadow: none;    
}
.reveal-card { // Rotates the card to reveal the front
    transition: transform .6s ease-out !important;    
    transform: scale(2) rotateY(0deg);
}
.ScaleDown-card { // Transforms the card to scale down to its initial size
    transform: scale(1) translateZ(0) translateY(0);
    position: fixed;
}
.fadeOut { // Show / hide not selected cards
    opacity: 0;
    pointer-events: none;    
    visibility: hidden;
}