// COLORS
// This is the color palette
$color-text: #1d1c1b;
$color-primary: #14e7f6;
$color-secondary: #02679d; 
$color-dark: #000813; 
$color-light: #f1f1f1;

// These are tints and shades of the color palette
$color-primary-tint: lighten($color-primary, 5%);
$color-secondary-tint: lighten($color-secondary, 5%);

$color-primary-shade: darken($color-primary, 5%);
$color-secondary-shade: darken($color-secondary, 5%);
$color-secondary-shade-2: darken($color-secondary, 15%);

$color-dark-tint: lighten($color-dark, 15%); 


// TYPGOGRAPHY
$font-family: 'Open Sans Condensed', sans-serif;
$font-size: 62.5%;


// BREAKPOINTS
$bp-small : 35em; /* 560px */
$bp-medium : 62.5em; /* 1000px */
$bp-large : 103.750em; /* 1660px */

// MEDIA QUERIES - mobile first
/* 560px */
@mixin mf-small {
  @media only screen and (min-width: $bp-small) {
    @content;
  }
}
/* 840px */
@mixin mf-medium {
  @media only screen and (min-width: $bp-medium) {
    @content;
  }
}
/* 1680px */
@mixin mf-large {
  @media only screen and (min-width: $bp-large) {
    @content;
  }
}

// Giving the site its basic styling
/* BASIC
////////////////////////////////////////////////////////////////////// */
*, *:before, *:after, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: $font-size;
}
body {  
    font-family: $font-family;
    color: $color-text;  
    font-size: 16px; font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 1.6;
}

h1 {
	font-size: 35px; font-size: 3.5rem;
	line-height: 1;
    letter-spacing: 0.2rem;
}
h2 {
	font-size: 25px; font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    @include mf-small {
        letter-spacing: 0.2rem;
    }
}
h3 {
	font-size: 20px; font-size: 2rem;
}

// Adding the arrow before all h2s
h2 {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    &:before { 
        content: "";
        display: inline-block;
        width: 22px;
        height: 25px;
        margin-top: 2px;
        position: absolute;
        background-image: url("../img/bullet-arrow-right.png");
        background-position: top left;
        background-repeat: no-repeat;
        left: 0;
    }
}

img {
    width: 100%;
    height: auto;
}

/* BUTTONS
////////////////////////////////////////////////////////////////////// */
// Basic style for buttons
.btn-primary {
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: 0;
    min-width: 180px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin: 5px;
    
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 18px; font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3;

    border-radius: .1em;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient( rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), linear-gradient( $color-primary, $color-secondary);
    background: linear-gradient( rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), linear-gradient( $color-primary, $color-secondary);
    background: linear-gradient( rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), linear-gradient( $color-primary, $color-secondary); 

    background-color: $color-secondary-shade;
    background-position: top left;
    background-repeat: repeat;
    &:hover {
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -webkit-linear-gradient($color-primary-tint, $color-secondary-tint);
        background-image: -o-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -o-linear-gradient($color-primary-tint, $color-secondary-tint);
        background-image: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient($color-primary-tint, $color-secondary-tint);
        }
    &:active {
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), -webkit-linear-gradient($color-primary, $color-secondary);
        background: -o-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), -o-linear-gradient($color-primary, $color-secondary);
        background: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url('../img/dark-grunge-texture-35.png'), linear-gradient($color-primary, $color-secondary);
        }
    // A bit bigger on desktop
    @include mf-medium {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 1.5em;
        padding-left: 1.5em;
        font-size: 22px; font-size: 2.2rem;
    }
}

// Show / hide buttons
.btn-reveal,
.btn-again {
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    &.show {
        transition: .6s ease-out;
        visibility: visible;
        opacity: 1;
    }
}