/* SITE
////////////////////////////////////////////////////////////////////// */
.site {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: $color-light;
}

// Styling and positioning of the sites header and its content
.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-top: 20px;   
    color: $color-light;
    background: url('../img/dark-grunge-texture-35.png'), -webkit-linear-gradient($color-secondary 10%, $color-dark 100%);
    background: url('../img/dark-grunge-texture-35.png'), -o-linear-gradient($color-secondary 10%, $color-dark 100%);
    background: url('../img/dark-grunge-texture-35.png'), linear-gradient($color-secondary 10%, $color-dark 100%); 
    background-color: $color-dark;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.6);
    h1 {
        margin: 0;
        margin-bottom: -20px;
    }
    .site-header-p {
        margin-top: 25px;
        letter-spacing: .22rem;
    }
}

// Establishing a container for the page content
.site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-right: 1.5%;
    padding-left: 1.5%;
    @include mf-small {
        padding-right: 5%;
        padding-left: 5%;
    }
}

// Positioning the intro container
.intro {
    margin: 50px 20px 20px 10px;
}

// Centering call to action buttons container 
.site-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
