/* 560px */
/* 1000px */
/* 1660px */
/* 560px */
/* 840px */
/* 1680px */
/* BASIC
////////////////////////////////////////////////////////////////////// */
*, *:before, *:after, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #1d1c1b;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  line-height: 1.6; }

h1 {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0.2rem; }

h2 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0rem; }
  @media only screen and (min-width: 35em) {
    h2 {
      letter-spacing: 0.2rem; } }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h2 {
  display: inline-block;
  position: relative;
  padding-left: 30px; }
  h2:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 25px;
    margin-top: 2px;
    position: absolute;
    background-image: url("../img/bullet-arrow-right.png");
    background-position: top left;
    background-repeat: no-repeat;
    left: 0; }

img {
  width: 100%;
  height: auto; }

/* BUTTONS
////////////////////////////////////////////////////////////////////// */
.btn-primary {
  white-space: nowrap;
  cursor: pointer;
  border: none;
  outline: 0;
  min-width: 180px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin: 5px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3;
  border-radius: .1em;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#14e7f6, #02679d);
  background: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#14e7f6, #02679d);
  background: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#14e7f6, #02679d);
  background-color: #025684;
  background-position: top left;
  background-repeat: repeat; }
  .btn-primary:hover {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -webkit-linear-gradient(#2deaf7, #0278b6);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -o-linear-gradient(#2deaf7, #0278b6);
    background-image: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#2deaf7, #0278b6); }
  .btn-primary:active {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -webkit-linear-gradient(#14e7f6, #02679d);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), -o-linear-gradient(#14e7f6, #02679d);
    background: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#14e7f6, #02679d); }
  @media only screen and (min-width: 62.5em) {
    .btn-primary {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 1.5em;
      padding-left: 1.5em;
      font-size: 22px;
      font-size: 2.2rem; } }

.btn-reveal,
.btn-again {
  transition: .3s;
  visibility: hidden;
  opacity: 0; }
  .btn-reveal.show,
  .btn-again.show {
    transition: .6s ease-out;
    visibility: visible;
    opacity: 1; }

/* SITE
////////////////////////////////////////////////////////////////////// */
.site {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f1f1f1; }

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  color: #f1f1f1;
  background: url("../img/dark-grunge-texture-35.png"), -webkit-linear-gradient(#02679d 10%, #000813 100%);
  background: url("../img/dark-grunge-texture-35.png"), -o-linear-gradient(#02679d 10%, #000813 100%);
  background: url("../img/dark-grunge-texture-35.png"), linear-gradient(#02679d 10%, #000813 100%);
  background-color: #000813;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.6); }
  .site-header h1 {
    margin: 0;
    margin-bottom: -20px; }
  .site-header .site-header-p {
    margin-top: 25px;
    letter-spacing: .22rem; }

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-right: 1.5%;
  padding-left: 1.5%; }
  @media only screen and (min-width: 35em) {
    .site-container {
      padding-right: 5%;
      padding-left: 5%; } }

.intro {
  margin: 50px 20px 20px 10px; }

.site-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; }

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  height: auto;
  perspective: 1000px;
  position: relative; }
  .card-container .card {
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform-style: preserve-3d;
    position: relative;
    min-width: 18%;
    width: 18%;
    height: 90px;
    margin: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
    background: url("../img/scanline-pattern.png"), url("../img/dark-grunge-texture@2x.png"), -webkit-linear-gradient(#0278b6, #000813);
    background: url("../img/scanline-pattern.png"), url("../img/dark-grunge-texture@2x.png"), -o-linear-gradient(#0278b6, #000813);
    background: url("../img/scanline-pattern.png"), url("../img/dark-grunge-texture@2x.png"), linear-gradient(#0278b6, #000813);
    background-size: 1px 3px, 668px 628px;
    background-color: #14e7f6;
    border: 3px solid white;
    border-radius: .1em;
    color: white;
    cursor: pointer; }
    .card-container .card:not(.selected-card):hover {
      opacity: .9;
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 35em) {
    .card-container .card {
      min-width: 22%;
      width: 22%;
      height: 110px; } }
  @media only screen and (min-width: 62.5em) {
    .card-container {
      max-width: 660px; }
      .card-container .card {
        min-width: 20%;
        width: 20%;
        height: 180px;
        margin: 10px; }
        .card-container .card:not(.selected-card):hover {
          box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.4); } }

.front, .back {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  font-size: 2em;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (min-width: 35em) {
    .front, .back {
      margin-top: 22px;
      font-size: 2.5em; } }
  @media only screen and (min-width: 62.5em) {
    .front, .back {
      margin-top: 45px;
      font-size: 3.5em; } }

.front {
  z-index: 2;
  transform: rotateY(0deg); }

.back {
  transform: rotateY(-180deg); }

.selected-card {
  transition: .6s !important;
  pointer-events: none;
  z-index: 1000; }
  .selected-card.card {
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2); }

.turnScaleUp-card {
  transform: scale(2) translateZ(0) translateY(0) rotateY(-180deg);
  box-shadow: none; }

.reveal-card {
  transition: transform .6s ease-out !important;
  transform: scale(2) rotateY(0deg); }

.ScaleDown-card {
  transform: scale(1) translateZ(0) translateY(0);
  position: fixed; }

.fadeOut {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
